@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.info-general {
    background-color: #F6E9E0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    text-align: center;
}

.info-img img {
    border-radius: 30px;
    max-width: 100%;
    height: auto;
    max-height: 500px;
}

.info-basic {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.name-recipe {
    color: #FF6724;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0; 
}

.time-servings {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
}

.servings, .time {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 20px;
}

.servings p, .time p {
    margin-left: 7px;
    font-family: 'Montserrat', sans-serif;
    color: #502918;
}

.servings img, .time img {
    width: 40px;
}

.ingredients-preparation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4rem;
}

.name-ig-pr {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid orange;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.preparation-data {
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
}

.ingredients, .preparation {
    flex: 1;
    margin: 20px;
}

.name-ig {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    padding-left: 0;
    margin: 10px;
}


@media screen and (max-width: 900px) {
    .info-general {
        flex-direction: column; 
        align-items: center;
    }

    .info-img {
        order: -1; 
        padding: 0;
        margin-top: 30px;
        margin-right: 30px;
        margin-left: 30px;
    }

    .info-basic {
        padding: 4rem;
    }
}
